venv/
__pycache__/
agents/__pycache__/

.env
pw_profile/
chrome_profile/
cookies.pkl

*.pyc
*.pyo

last_topic.txt

*.png
*.jpg
images/generated/

msedgedriver.exe

test.py
login_setup.py
save_cookies.py